button, div, form, input {
	margin: 10px;
}

img {
	max-width: 100px;
	max-height: 100px;
}

label {
    color: white;
}



body {
	background-image: url("../images/light.jpg");
    font-family: Arial, Helvetica
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}



.btn-default {
    color: green;
    font-size: larger;
}

#DisplayedButton {
    font: 150
}



